/* background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.NavTop {
    top: 0;
    width: 100%;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.Top1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    color: white;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(59, 29, 253, 1) 100%, rgba(252, 176, 69, 1) 100%);
}

.FirstContent {
    display: flex;
    align-items: center;
    justify-content: center;
}



.pad {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* width: 35px; */
}

.pad a {
    text-decoration: none;
    color: rgba(59, 29, 253, 1);
}

.items {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.item {
    /* border-left: 2px solid black; */
    border-right: 2px solid white;
}

.iteml {
    border-right: 2px solid white;
}

.SecondContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secItem {
    padding-left: 4px;
    padding-right: 4px;

}

.ThirdContent a {
    padding: 5px;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.Top2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.padi a {
    padding: 8px;
    text-decoration: none;
    color: rgba(59, 29, 253, 1);
}

.padi a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    /* Initial border is transparent */
    transition: border-color 0.3s ease-in-out;
    /* Smooth transition for border color */
}

.padi a:hover {
    border-bottom: 2px solid rgba(59, 29, 253, 1);
    /* Border color on hover */
}

.FourthContent {
    padding: 5px;
}

.FourthContent img {
    height: 40px;
    width: 100px;
}

.FifthContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* navbar ends here */

.PageHead1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 90vh;
    width: 100%;
    background-image: url("./IMG/BackgroundImge.jpg");
    /* background-size: 100% 90vh; */
    background-size: cover;
    background-repeat: no-repeat;

}

.PageContentBox {
    padding: 10px;
    width: 900px;
    color: white;
    border-left: 10px solid rgb(108, 91, 221);
}

.PageContentBox a {
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

.PageContentBox a:hover {
    background-color: white;
    color: rgba(59, 29, 253, 1);
}

.btn {
    display: none;
}

@media (max-width:850px) {
    .PageHead1 {
        height: 40vh;
    }

    .PageContentBox {

        width: auto;
    }

}



@media (max-width:650px) {
    .FifthContent {
        display: none;
    }

    .SixthContent {
        display: none;
    }

    .btn {
        display: block;
    }

    .Top1 {
        padding: 5px;
        flex-direction: column;
        height: 15vh;
    }

    .PageHead1 {
        margin-top: 157px;
    }
}

.PageHead2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(59, 29, 253, 1) 100%, rgba(252, 176, 69, 1) 100%);
    color: white;
}

.FirstBox {
    padding: 10px;
    width: 300px;
    text-align: justify;
}

.FirstBox h5 {
    display: inline-block;
    padding: 5px;
}

.SecondBox {
    padding: 10px;
    width: 300px;
    text-align: justify;
}

.SecondBox h5 {

    display: inline-block;
    padding: 5px;
}

.ThirdBox {
    padding: 10px;
    width: 300px;
    text-align: justify;
}

.ThirdBox h5 {
    display: inline-block;
    padding: 5px;
}

@media (max-width:650px) {
    .PageHead2 {
        flex-direction: column;
    }

    .FirstBox {

        width: auto;
        padding: 10px;
    }

    .SecondBox {

        width: auto;
        padding: 10px;
    }

    .ThirdBox {

        width: auto;
        padding: 10px;
    }
}



.PageHead3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
}

.PageHead3_first {
    padding-left: 20px;
    padding-right: 10px;
    text-align: justify;
    width: 50%;
    /* flex: 1;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    transform: translateX(-100%); */
    z-index: -100;
}

.PageHead3_first h3 {
    width: 120px;
    border-bottom: 5px solid rgba(59, 29, 253, 1);
}

.PageHead3_first a {
    text-decoration: none;
    color: rgba(59, 29, 253, 1);
    border: 2px solid rgba(59, 29, 253, 1);
    padding: 5px;

}

.PageHead3_first a:hover {
    background-color: rgba(59, 29, 253, 1);
    color: white;
}

.PageHead3_second {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 1;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    transform: translateX(100%); */
    z-index: -100;
}

.PageHead3_second img {
    height: 500px;
    width: 500px;
}

/* media querys */

@media (max-width:1100px) {
    .PageHead3_second img {
        height: 400px;
        width: 400px;
    }
}

@media (max-width:850px) {
    .PageHead3 {
        flex-direction: column-reverse;
    }

    .PageHead3_first {
        width: 100%;
    }

    .PageHead3_second {
        width: 100%;
    }
}

@media (max-width:500px) {
    .PageHead3_second img {
        height: 300px;
        width: 300px;
    }
}

.crd {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.PageHead4 {
    margin: 20px;

}

.PageHead4 h3 {
    margin-left: 110px;
    width: 160px;
    border-bottom: 5px solid rgba(59, 29, 253, 1);
}

.card img {
    height: 170px;
}

@media (max-width:850px) {
    /* .PageHead4 {
        height: 750px;
    } */

    .crd {
        flex-direction: column;
        height: 750px;
    }

    .card {
        width: 25rem !important;
    }
}

@media (max-width:500px) {
    .card {
        width: 20rem !important;
    }
}


/* footer */
footer {
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(59, 29, 253, 1) 100%, rgba(252, 176, 69, 1) 100%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Create columns for the footer content */
.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Style each column */
.footer-column {
    flex: 1;
    text-align: center;
    margin-right: 20px;
    /* Add some spacing between columns */
    padding: 10px;
}

/* Style the copyright section */
.copyright {
    text-align: center;
    margin-top: 20px;
    /* Add some spacing between columns and copyright */
}

@media (max-width:550px) {
    .footer-columns {
        flex-direction: column;
    }
}